* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background: #13c11c;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Main container */
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background: white;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 20px;
  color: #555;
}

/* Button */
button {
  padding: 12px 20px;
  border: none;
  background: #13c11c;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0da028;
}

/* Footer */
footer {
  background: #e5e7eb;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  background: #e5e7eb;
  color: #111;
}

.option:hover {
  background: #d1d5db;
}

#progress{
  margin-top: 1rem;
}

